<div class="container">
  <div class="row justify-content-md-center">


    <div class="col-md-5 col-sm-11" *ngFor = "let project of projects ; let i = index "   data-aos="fade-up">
        <div id="carouselExampleControls{{i}}" class="carousel slide" data-ride="carousel" data-interval="100000000" style=" max-height:650px; min-height: 650px;">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="card text-center" align="center" style="margin:auto" >
                <img src={{project.imagePath}}   class="img-fluid" style="margin:auto; min-height:200px; max-height:200px">
                <div class="card-block text-center">
                  <h3 ><b>{{project.name}}</b></h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Description : </span> {{project.description}} </p></li>
                    <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Responsiblity : </span> {{project.resposciblities}} </p></li>
                    <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Tech. Specs : </span> {{project.technologies}} </p></li>
                  </ul>
                  <div class="card-block">

                    <a  data-slide="next" href="#carouselExampleControls{{i}}" class="btn btn-primary">More Info <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" >
              <div class="card text-center" align="center" style=" margin:auto"  >
                <div class="card-block">
                  <p>{{project.details}}</p>
                  <a  data-slide="prev" href="#carouselExampleControls{{i}}" class="btn btn-primary">More Info <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>


  </div>
</div>
