<div class="card" id="section2" style="border:0">
  <div class="card-block">
    <div class="container ">
      <div class="row justify-content-md-center">

        <div class="col-md-6 col-sm-6 " data-aos="fade-up" >
          <div class="card text-center" align="center" style="margin:auto" >
            <img src="./assets/images/old/school1.png" height="300px"  class="img-fluid" style="margin:auto">
            <div class="card-block text-center">
              <h3 ><b>Arbor Preparatory High School</b></h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Description : </span> News posting portal </p></li>
                <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Responsiblity : </span> Application API </p></li>
                <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Tech. Specs : </span> nodejs, MongoDB </p></li>
              </ul>
              <div class="card-block">
                <a routerLink="/ProjectDetailsComponent" class="btn btn-primary">More Info <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 " data-aos="fade-up" >
          <div class="card" >
            <img src="./assets/images/old/project2.png" height="300px"  class="img-fluid" style="margin:auto">
            <div class="card-block text-center">
              <h3 ><b>Giftona Online Shopping App</b></h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Description : </span> News posting portal </p></li>
                <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Responsiblity : </span> Application API </p></li>
                <li class="list-group-item"> <p style="margin:auto;"> <span style="color: #025AA5;"> Tech. Specs : </span> nodejs, MongoDB </p></li>
              </ul>
              <div class="card-block">
                <a routerLink="/ProjectDetailsComponent" class="btn btn-primary">More Info <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 " data-aos="fade-up" >
          <div class="card" >
            <img src="./assets/images/old/pwa-lighthouse.png" class="img-fluid">
            <div class="card-block text-center">
              <h3 ><b>Card title</b></h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-block">
                <a routerLink="/ProjectDetailsComponent" class="btn btn-primary">More Info <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 " data-aos="fade-up" >
          <div class="card" >
            <img src="./assets/images/old/pwa-lighthouse.png" class="img-fluid">
            <div class="card-block text-center">
              <h3 ><b>Card title</b></h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-block">
                <a routerLink="/ProjectDetailsComponent" class="btn btn-primary">More Info <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
